<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{Login-layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<section>
    <div layout:fragment="content">

        <div th:if="${error}!=null" class="info" id="infoMessage">
            <div class="info__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
                    <path fill="#393a37"
                          d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path>
                </svg>
            </div>
            <div class="info__title" th:text="${error}"></div>
        </div>


        <div class="login-box">

            <form action="/login" method="post" th:object="${loginDto}">
                <div class="user-box">
                    <input type="text" id="loginName" th:field="*{email}" name="username" required="">
                    <label for="loginName">Email hoặc tên người dùng</label>
                </div>
                <div class="user-box">
                    <input id="loginPassword" th:field="*{password}" type="password" name="password" required="">
                    <label for="loginPassword">Mật khẩu</label>
                </div>
                <center>
                    <button type="submit">SEND<span></span></button>
                    <a href="register">Đăng ký ngay?<span></span></a><br>
                    <a href="send/mail">Quên mật khẩu<span></span></a>
                </center>
            </form>

        </div>
        <script>
            // Ẩn thông báo
            document.addEventListener("DOMContentLoaded", function () {
                const infoMessage = document.getElementById("infoMessage");
                if (infoMessage) {
                    setTimeout(function () {
                        infoMessage.classList.add("fade-out");
                        setTimeout(function () {
                            infoMessage.style.display = "none";
                        }, 1000);
                    }, 5000);
                }
            });
        </script>

    </div>
</section>
</body>
</html>