<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{Login-layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<section>
    <div layout:fragment="content">
        <div class="login-box">
            <form action="/register" th:object="${singUpDto}" method="post">

                <!-- Name input -->
                <div th:text="${message}" class="error"></div>
                <div class="user-box">
                    <input id="username" type="text" th:field="*{name}" required=""/>
                    <label for="username">Tên Hiển Thị:</label>
                </div>

                <!-- Email input -->
                <div class="user-box">
                    <input type="text" th:field="*{email}" required=""/>
                    <label>Email:</label>
                </div>

                <!-- Password input -->
                <div class="user-box">
                    <input type="password" th:field="*{password}" required=""/>
                    <label>Mật Khẩu:</label>
                </div>

                <center>
                    <button type="submit">Đăng ký <span></span></button>
                    <br>
                    <a href="/login">Đã có tài khoản? Đăng nhập ngay</a><br>
                    <a href="/"></a>
                </center>
            </form>
        </div>
    </div>
</section>
</body>
</html>
