<div th:fragment="navigation-bar">
    <div class="fixed-header d-flex align-items-center justify-content-between px-3">

        <!--logo-->
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight item-logo">
                <button id="toggleButton" style="border: none; background-color: transparent ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                    </svg>
                </button>
                <img src="/image/icons/LOGO.png" alt="">
            </div>
        </div>
        <!--    thanh tìm kiếm-->
        <!--        <div class="mt-2 mx-auto" style="width: 500px">-->
        <!--            <form class="d-flex">-->
        <!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
        <!--            </form>-->
        <!--        </div>-->

        <!--    người dùng-->
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight item-image-author">
                <button onclick="toggleInformation()" style="border: none; background-color: #ffffff">
                    <img class="rounded-circle" src="/image/slide-03.jpg" alt="">
                </button>
            </div>
            <div class="p-2 bd-highlight ">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" viewBox="0 0 24 24">
                    <path d="M19 13.586V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v3.586l-1.707 1.707A.996.996 0 0 0 3 16v2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-2a.996.996 0 0 0-.293-.707L19 13.586zM19 17H5v-.586l1.707-1.707A.996.996 0 0 0 7 14v-4c0-2.757 2.243-5 5-5s5 2.243 5 5v4c0 .266.105.52.293.707L19 16.414V17zm-7 5a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22z"></path>
                </svg>
            </div>
            <div class="p-2 bd-highlight ">

            </div>
        </div>
    </div>


    <script>
        function toggleInformation() {
            var infoPanel = document.querySelector('.information');
            if (infoPanel.style.display === 'none' || infoPanel.style.display === '') {
                infoPanel.style.display = 'block'; /* Hiển thị phần tử */
            } else {
                infoPanel.style.display = 'none'; /* Ẩn phần tử */
            }
        }
    </script>
</div>