<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{Dashboad}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #storyCover {
        width: 100%;
        height: 0;
        padding-bottom: 145%;
        position: relative;
        overflow: hidden;
        background-size: contain;
    }

    #storyCover img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    #imageUpload {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="mb-3 text-center">
        <h1> QUẢN LÝ SẢN PHẨM </h1>
    </div>

    <div style="height: 450px">
        <div class="d-flex mb-3 gap-3 align-items-stretch">
            <input style="width: 200px" type="text" id="searchInput" class="form-control" placeholder="Search by name">
            <button type="button" class="btn btn-primary" onclick="searchTable()">Search</button>
        </div>

        <div class="h-100">
            <div class="table-responsive h-100">
                <table class="table table-bordered w-100" id="dataTable">
                    <thead>
                    <tr class="text-center" style="height: 50px;">
                        <th style="width: 40%;">Name</th>
                        <th style="width: 15%;">Price</th>
                        <th style="width: 20%;">Quantity</th>
                        <th style="width: 15%;">Date</th>
                        <th style="width: 15%;">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" style="height: 50px;" th:each="product : ${allProducts}">
                        <form action="/dashboard/ProductManagement#detail" method="get">
                            <td>
                                <img th:src="'/image/products/'+${product.image}" alt="Product Image"
                                     style="width:50px; height:50px; margin-right:10px;"/>
                                <span th:text="${product.name}"></span>
                            </td>

                            <td th:text="${product.price}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td th:text="${#temporals.format(product.createdAt, 'dd/MM/yyyy')}"></td>

                            <td>
                                <input type="hidden" name="id" th:value="${product.id}"/>
                                <button type="submit">Chi Tiết</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <form id="detail" style="margin-top: 120px;border: 5px solid #000;" class="p-5" th:if="${clickProducts != null}"
          th:action="@{/dashboard/updateIdProduct}" method="post"
          th:object="${clickProducts}">
        <div class="row">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{createdAt}"/>
            <input type="hidden" th:field="*{code}"/>
            <div class="col-md-2 col-sm-4 text-center">
                <div id="storyCover">
                    <img id="imagePreview" th:src="'/image/products/'+${clickProducts.image}"
                         alt="Image Preview">
                </div>
                <label for="imageUpload" class="upload-btn btn btn-success legitRipple">Chọn Ảnh
                    Bìa</label>
                <input style="width: 125px" th:field="*{image}" type="file" id="imageUpload"
                       required accept="image/png, image/jpg, image/jpeg">
                <p class="text-muted font-italic">Hỗ trợ ảnh có đuôi .jpg, .png, .jpeg. Kích
                    thước &lt;=500kb</p>
            </div>
            <div class="col-md-10 col-sm-8">
                <div class="row">
                    <div class="col-6">
                        <label class="d-block font-weight-semibold" for="name">Tên sản phẩm</label>
                        <input type="text" th:field="*{name}"
                               placeholder="Tên sản phẩm" class="form-control"
                               id="name">
                    </div>
                    <div class="col-6">
                        <label class="d-block font-weight-semibold" for="KH">Khách hàng</label>
                        <select id="KH" th:field="*{targetCustomer}" class="form-select"
                                aria-label="Default select example">
                            <option value="" selected>Chọn trạng thái</option>
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                            <option value="All">ALL</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block font-weight-semibold" for="PriceStory">Giá
                                bán</label>
                            <input type="number" th:field="*{price}"
                                   placeholder="Giá đăng bán" class="form-control"
                                   id="PriceStory" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block font-weight-semibold" for="quantity">Số
                                lượng</label>
                            <input th:field="*{quantity}" type="number" class="form-control" placeholder="Số lượng"
                                   id="quantity" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block font-weight-semibold" for="category">Thể Loại</label>
                            <select th:field="*{categories}" id="category" class="form-select"
                                    aria-label="Default select example">
                                <option value="" selected>Chọn thể loại</option>
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block font-weight-semibold">Trạng thái</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="trangthai1" th:field="*{active}" value="true" name="trangthai"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="trangthai1">Còn hàng</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="trangthai2" th:field="*{active}" value="false" name="trangthai"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="trangthai2">Hết hàng</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="d-block font-weight-semibold" for="storyDescription">Mô tả sản phẩm</label>
                        <textarea th:field="*{description}" style="height: 120px"
                                  class="form-control"
                                  id="storyDescription"
                                  placeholder="Hãy nói gì đó về truyện..."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="rounded" type="submit">Update</button>
    </form>
    <script>
        function searchTable() {
            // Lấy giá trị tìm kiếm
            var input = document.getElementById("searchInput").value.toLowerCase();
            var table = document.getElementById("dataTable");
            var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");

            // Duyệt qua các hàng của bảng và ẩn hoặc hiện hàng dựa trên kết quả tìm kiếm
            for (var i = 0; i < rows.length; i++) {
                var nameCell = rows[i].getElementsByTagName("td")[0]; // Cột tên là cột thứ 2
                if (nameCell) {
                    var name = nameCell.textContent || nameCell.innerText;
                    if (name.toLowerCase().indexOf(input) > -1) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }


        document.getElementById('imageUpload').addEventListener('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
                document.getElementById('imagePreview').style.display = 'block';
            }
            reader.readAsDataURL(e.target.files[0]);
        });

        function setImage(src) {
            const imagePreview = document.getElementById('imagePreview');
            if (src) {
                imagePreview.src = src;
                imagePreview.style.display = 'block';
            } else {
                imagePreview.style.display = 'none';
            }
        }

    </script>

</div>
</body>
</html>