<div th:fragment="header">
    <header class="bg-black">
        <!--    header desktop-->
        <div class="right-top-bar" style="margin-right: 150px">
            <a href="/register">VN</a>
            <a href="/logout">EN</a>
            <a href="/login" th:text="${session.user != null ? session.user.name : 'My Account'}"></a>
            <a href="#">Help & FAQ</a>
        </div>
        <!--topbar-->
        <div class="d-flex flex-box wrap-menu-desktop" style="top: 40px">
            <h1>TSCODE</h1>
            <div class="menu-desktop d-flex justify-content-between w-100">
                <ul class="main-menu">
                    <li><a class="nav-link" href="/home">Home</a></li>

                    <!--                    onclick="scrollToSection(event, 'product')"-->
                    <li><a class="nav-link" href="/product">Shop</a></li>
                    <li><a class="nav-link" href="">Blog</a></li>
                    <li><a class="nav-link" href="">About</a></li>
                    <li><a class="nav-link" href="">Contact</a></li>
                </ul>
                <ul class="main-menu" style="margin-right: 30px">
                    <li onclick="viewcart()"><a class="nav-link position-relative" href="">
                        <i class='bx bxs-cart'></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ cart.count }}
</span>


                    </a></li>
                    <li class="position-relative">
                        <a class="nav-link" href="">
                            <i class='bx bx-bell'></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!--    xem trước giỏ hang-->
    <div class="ms-auto cart">
        <table class="border w-100">
            <thead>
            <tr style="height: 50px" class="border gap-2 text-center justify-content-center">
                <th style="width: 20%;">Sản phẩm</th>
                <th style="width: 20%;">Đơn giá</th>
                <th style="width: 20%;">Số lượng</th>
                <th style="width: 20%;">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cart.items" class="text-center border">
                <td>
                    <img class="img-fluid w-100 h-100" style="object-fit: cover"
                         ng-src="{{ '/image/products/' + item.image }}" alt="Product Image">
                </td>
                <td>{{item.price}}</td>
                <td>
                    <input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"
                           style="width: 50px">
                </td>
                <td>
                    <span style="cursor: pointer" ng-click="cart.remove(item.id)">xóa</span>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Button positioned at the bottom of the containing div -->
        <div class="position-absolute bottom-0 end-0 mb-3 me-3">
            <button class="btn btn-primary"><a href="/cart" class="text-white text-decoration-none">Go to Cart</a>
            </button>
        </div>
    </div>

    <script>
        window.addEventListener('scroll', function () {
            var wrapMenuDesktop = document.querySelector('.wrap-menu-desktop');

            if (window.scrollY > 95) { // Bạn có thể điều chỉnh giá trị này theo yêu cầu của bạn
                wrapMenuDesktop.style.top = '0'; // Đưa wrap-menu-desktop lên đầu trang
                wrapMenuDesktop.style.backgroundColor = 'white'; // Đổi màu nền khi cuộn xuống
            } else {
                wrapMenuDesktop.style.top = '40px'; // Khôi phục vị trí ban đầu
                wrapMenuDesktop.style.backgroundColor = 'transparent'; // Khôi phục màu nền trong suốt
            }
        });

        function scrollToSection(event, id) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
            document.getElementById(id).scrollIntoView({behavior: 'smooth'});
        }
    </script>
</div>