<div th:fragment="product">
    <div id="product" class="product">
        <h1>Product Overview</h1>
        <div class="row w-100" style="padding: 20px 50px">
            <div class="col-xl-3 col-md-4" th:each="product :${products}">
                <div class="card">
                    <div class="image">
                        <img th:src="'/image/products/'+${product.image}" alt="product">
                    </div>
                    <span class="title" th:text="${product.name}"></span>
                    <span class="price" th:text="${product.price}"></span>
                </div>
            </div>
        </div>
    </div>
</div>